@{
    Layout = null;
}

<script type="text/javascript">

    $(document).ready(function () {

        General.LoadMain();


    });

</script>

<div class="row" style="padding: 5px 0px 0px 60px; min-height: 75px; max-height: 75px;">
    <div id="IdSecondMain" style="width: 100%; float: none; margin-top: 5px;">
    </div>
</div>