@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutPDFPrinting.cshtml";
}

<br />
<div class="row">
    <div class="center-align">
        <button class="waves-effect waves-light btn red darken-2 white-text" onclick="window.close();">Close this tab</button>
    </div>
</div>

<div class="page-container">
    <div class="pdf-page size-letter">
        <div class="pdf-header">
            <span class="pdf-title">Export HR Report Not Found</span>
        </div>
        <div class="pdf-body text-justify">
            <p>This report can not be displayed correctly.</p>
        </div>
    </div>
</div>