@{ Layout = null; }
@using TP_Retention_EFDM.ViewModel
@using TP_Retention.Helpers;
@using System.Web.Optimization;
@using System.Web.Helpers;

<style type="text/css">
    #HRReportGrid {
        font-size: 13px;
    }
        #HRReportGrid table tbody tr:hover {
            cursor: pointer;
            color: #00B0FF;
        }
</style>

<script type="text/javascript" src="@Url.Js("Class/HeadCounts")"></script>
<script type="text/javascript" src="@Url.Js("Class/HRReports")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnExport").click(function (e) {
            HRReports.Export_Result_Report();
        });

        $('.tooltipped').tooltip({ delay: 50 });
    });
</script>

<div style="float:right; margin-right:3px">
    <button id="btnExport" type="button" class="waves-effect waves-light btn green darken-2 white-text"><i class="fa fa-table"></i> Export</button>
</div>
<br />
<br />
<div id="RiskReportGrid">
    @(Html.Kendo().Grid<HRReportFields>()
        .Name("HRReportGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.ReportDate).Title("Report Date");
            columns.Bound(p => p.Employee_Ident).Title("Employee Ident");
            columns.Bound(p => p.Nombre).Title("Employee");
            columns.Bound(p => p.Position_Code_Full_Name).Title("Position");
            columns.Bound(p => p.Manager_Name).Title("Manager");
            columns.Bound(p => p.FloorManager_Name).Title("Floor Manager");
            columns.Bound(p => p.Client_Name).Title("Client");
        })
        .Resizable(resize => resize.Columns(true))
    )
</div>

<div id="divModalPopUp">
    @(Html.Kendo().Window()
        .Name("modalWindowHRReports")
        .Title("HR Report Details")
        .Content(@<text>
            <div id="HRReportDetailsHeader"></div>
            <br /><br />
            <div id="HRReportDetailsContent"></div>
        </text>
                )
                .Resizable()
                .Draggable()
                .Width(800)
                .Visible(false)
                .Modal(true)
                .Scrollable(true)
                .Position(settings =>
                    settings.Top(100).Left(100))
    )
</div>