@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}

<div style="width: 100%; text-align: center">
    <h2>Error: @ViewData["Error"]</h2>
    <br />
    <a class="button large primary" href="~/Home/Index">Home</a>
</div>